html,
body {
  height: 100%;
}

body {
  /* display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; */
  font-family: 'Share Tech', sans-serif;
}

.form-signin {
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.img-column{
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px ;
}

.form-column{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left-side-decoration{
  background-image: url(../images/coffee-image.png);
  background-size: contain;
}

.auth-box-shadow{
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

#form-wrapper{
  height: 650px;
}

@media screen and (max-width:1200px) {
  #form-wrapper{
    height: 100%;
  }
}