html, body {height: 100%;}
body {font-family: 'Share Tech', sans-serif;}

.form-signin {
  padding: 15px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.bg-form-margin{width: 100px;}
.container-form{margin-left: 100px; min-height: 500px;}
.img-column{border-radius: 20px 0 0 20px;}
.form-column{border-radius: 0 20px 20px 0;}
.coffee-img{
  background-image: url(../images/coffee-image.png);
  background-size: contain;
  height: 320px;
  width: 320px;
  right: -80px
}
.coffee-img-top{top: -80px;}
.coffee-img-bottom{bottom: -80px;}
.auth-box-shadow{box-shadow: 10px 10px rgba(0, 0, 0, 0.3);}

#form-wrapper{
  height: 650px;
}

@media screen and (max-width:1200px) {
  #form-wrapper{
  height: 100%;
  }
}