:root{
    --brown : #B26221;
    --yellow : #FEDB39;
}
.bg-brown{background-color: var(--brown);}
.bg-yellow{background-color: var(--yellow);}
.button-brown{background-color: var(--brown);}
.button-brown:hover{background-color: #fff;}